body {
	margin: 0;
	padding: 0;
	display: grid;
	place-content: center;
	min-height: 100vh;
	font-family: monospace;
}

.container {
	width: ;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(24, auto);
	grid-template-rows: repeat(24, auto);
	/* padding: 1rem; */
}

.container > div {
	background-color: rgb(228, 255, 228);
	width: 1.5rem;
	height: 1.5rem;
	box-sizing: border-box;
}

.score {
	padding: 8px;
	font-size: 2rem;
	margin: auto;
}

.snake-body {
	background-color: greenyellow !important;
	/* border-radius: 2px; */
}

.snake-head {
	background-color: red !important;
	/* border-radius: 8px; */
}

.apple {
	background-color: darkred;
}
